<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}">-->
    <link href="../css/sweetalert.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top" style="margin: 0px;">
            <div class="row" style="margin-right: 0px; margin-left: 150px;">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">&copy; 2019-2021</small>
                </div>
                <div class="col-6 col-md">
                    <h5>法律声明</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">(豫)-经营性-2017-0020</a></li>
                        <li><a class="text-muted" href="#">隐私政策</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>使用帮助</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">使用建议</a></li>
                        <li><a class="text-muted" href="#">联系我们</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>关于Nexus</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">版权所有</a></li>
                        <li><a class="text-muted" href="#">赞助我们</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>