# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Java\IDEAproject\bbs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.gitignore
.idea
bbs.iml
src/main/resources/application-dev.properties
target
