<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}" />

</head>
<body>
    <!-- 引入头部 -->
    <div th:replace="common/head::html" ></div>

    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="activationCode" id="activationCode" placeholder="请在此输入您的激活码">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                    <input id="submit" onclick="activation()" value="立即激活" class="btn btn-primary submit"></input>
                </div>
            </div>

        </form>
    </div>

    <!-- 引入页脚 -->
    <div th:replace="common/footer::html" ></div>

    <script th:src="@{/jquery/jquery-3.5.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/sweetalert.min.js}"></script>
</body>

<script type="text/javascript">

    function activation() {
        var params = $("#activationCode").serialize();
        var url = '/activation';
        $.ajax({
            type: 'POST',//方法类型
            url: url,
            data: params,

            success: function (result) {
                if (result.code === 301) {
                    swal({
                        title: result.message,
                        text: "激活成功，即将跳转登录页",
                        // 成功图标
                        icon: "success",
                        // 按钮：并设置true的值为登录。
                        buttons: [true, "登录"],
                        // 如果设为true，则确认按钮变为红色。默认按钮变成取消
                        dangerMode: true,
                    }).then((flag) => {
                            if (flag) {
                                window.location.href = '/login';
                            }
                        }
                    )
                    ;
                }
                else if (result.code === 302) {
                    swal({
                        title: "重复激活",
                        text: result.message,
                        icon: "warning",
                        // 按钮：并设置true的值为登录。
                        buttons: [true, "登录"],
                        // 如果设为true，则确认按钮变为红色。默认按钮变成取消
                        dangerMode: true,
                    }).then((flag) => {
                            if (flag) {
                                window.location.href = '/login';
                            }
                        }
                    )
                    ;
                } else {
                    swal({
                        title: "激活失败",
                        text: result.message,
                        icon: "error",
                    });
                }
            },
        });
    }
</script>

</html>