<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}" />
</head>
<body>
    <!-- 引入头部 -->
    <div th:replace="common/head::html" ></div>

    <!-- 引入页脚 -->
    <div th:replace="common/footer::html" ></div>

    <!-- 接收返回的消息 -->
    <p th:text="${msg}"></p>

    <script th:src="@{/jquery/jquery-3.5.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>