<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.nexus.mapper.PublishMapper">

    <insert id="addPublish" parameterType="com.nexus.pojo.Publish">
        insert into bbs_publish (publish_id, title, description, tag, create_time, update_time, user_id) values (#{publish_id}, #{title}, #{description}, #{tag}, #{create_time}, #{update_time}, #{user_id})
    </insert>

    <!-- 查询发布内容 -->
<!--    <select id="publishList" resultType="com.nexus.pojo.Publish" >-->
<!--        select title, description, tag from bbs_publish order by create_time-->
<!--    </select>-->

    <!-- 定义resultMap，type为HashMap -->
    <resultMap id="PartPublishMap" type="java.util.HashMap">
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="tag" property="tag" />
        <result column="username" property="username" />
        <result column="create_time" property="create_time" />
    </resultMap>

    <!-- 查询语句 -->
    <select id="publishList" resultMap="PartPublishMap">
        <!-- 限制从前6行筛选出第4行开始 -->
        SELECT * from(
            <!-- 从publishList筛选出前6行 -->
            select publishList.*,ROWNUM r from(
                <!-- 查出publishList -->
                select title, description, tag, username, create_time from bbs_publish LEFT JOIN bbs_user on bbs_publish.user_id = bbs_user.ID where user_id is NOT null order by create_time desc
            )publishList where ROWNUM
            <if test="end != null">
                &lt;= #{end}
            </if>

            <if test="tag != null">
                and tag= #{tag}
            </if>
        ) where r
        <if test="start != null">
            &gt;= #{start}
        </if>
    </select>

    <select id="total" resultType="int">
        select count(*) from bbs_publish
        <where>
            <choose>
                <when test="tag != null">
                    tag= #{tag}
                </when>

                <otherwise>
                    1 = 1
                </otherwise>
            </choose>
        </where>
    </select>


    <!-- 查询标签列表 -->
    <select id="selectPublishTagList" resultType="com.nexus.pojo.Publish">
        select DISTINCT tag from bbs_publish
    </select>
</mapper>