<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.nexus.mapper.UserMapper">

    <!-- select查询语句 -->
    <!-- id绑定的是dao中的方法 -->
    <!-- resultType一定要写泛型里的东西，不要写List之类的 -->
    <select id="selectByName" resultType="com.nexus.pojo.User">
        select * from bbs_user where username = #{username}
    </select>

    <select id="selectByEmail" resultType="com.nexus.pojo.User">
        select * from bbs_user where email = #{email}
    </select>

    <insert id="addUser" parameterType="com.nexus.pojo.User">
        insert into bbs_user (id, username, password, email, activationCode, status) values (#{id}, #{username}, #{password}, #{email}, #{activationCode}, #{status})
    </insert>

    <!-- 根据激活码查询用户 -->
    <select id="selectByActivationCode" resultType="com.nexus.pojo.User">
        select * from bbs_user where activationCode = #{activationCode}
    </select>

    <!-- 更新激活状态 -->
    <update id="updateStatus">
        update bbs_user set status = #{status} where activationCode = #{activationCode}
    </update>

    <!-- 登录 -->
    <select id="selectByUserNameAndPassWord" resultType="com.nexus.pojo.User">
        select * from bbs_user where username = #{username} and password = #{password}
    </select>

    <!-- 邮箱登录 -->
    <select id="selectByEmailAndPassWord" resultType="com.nexus.pojo.User">
        select * from bbs_user where email = #{email} and password = #{password}
    </select>

    <!-- github登录时存储用户信息 -->
    <insert id="insertGitHubUserInfo" parameterType="com.nexus.pojo.GithubUser">
        insert into bbs_github_user (github_id, login, access_token) VALUES (#{github_id}, #{login}, #{access_token})
    </insert>

    <!-- 根据id查询github的用户信息 -->
    <select id="selectByGithub_id" parameterType="java.lang.String" resultType="java.lang.Boolean">
        select count(github_id) from bbs_github_user where github_id = #{github_id}
    </select>
</mapper>